body {
    background-color: #22272c;
    color: #ebf0f4;
}

#root {
    display: grid;
    grid-row-gap: 32px;
}

/* EVERYTHING RELATING TO THE 1ST ROW */
#project-banner {
    margin: 42px 90px 0 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.prj-title {
    align-self: center;
}
.prj-title span {
    font-weight: 700;
    font-size: 2em;
}

.prj-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.prj-links div {
    display: inline-block;
}
.prj-links div:nth-child(1) {
    margin-right: 15px;
    width: 32px;
    height: 32px;
}
.prj-links div:nth-child(2) {
    margin-left: 15px;
    width: 32px;
    height: 32px;
}
.prj-links div:nth-child(3) {
    margin-left: 46px;
    width: 48px;
    height: 48px;
}

/* EVERYTHING RELATING TO THE 2ND ROW */
#project-controller {
    margin: 0 90px 0 90px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.prj-cont-board-select span {
    font-weight: 700;
    font-size: 3em;
}
.prj-cont-board-select img {
    margin-left: 8px;
}

.prj-cont-stage-select {
    margin-left: 16px;
}
.prj-cont-stage-select span {
    font-weight: 600;
    font-size: 2em;
}

/* EVERYTHING RELATING TO THE 3RD ROW */
#project-board {
    margin: 0 90px 0 90px;
}

.prj-list-wrapper {
    display: inline-block;
    width: 350px;
    padding: 25px;
    border: 3px solid #3a424b;
    vertical-align: top;
}
.prj-list-wrapper:nth-child(n+2) {
    margin-left: 25px;
}
.prj-list-wrapper header {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.prj-list-wrapper header span:nth-child(1) {
    font-weight: 700;
    font-size: 1.2em;
}
.prj-list-wrapper header span:nth-child(2) {
    justify-self: end;
}

.prj-list-item {
    margin-bottom: 10px;
    padding: 20px;
    background-color: #ebf0f4;
    color: #22272c;
    font-size: 0.9em;
}